<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Página inicial" %>

<div class="flex justify-between items-center mb-6">
  <h1 class="font-bold text-4xl text-blue-500">Página inicial</h1>
</div>

<div id="home" class="w-full">
  <p>Medicare</p>
</div>
