<%= render "modal", title: "Detalhes" do %>
  <div class="w-full bg-white p-2">
    <div class="space-y-4">
      <div class="border-b border-gray-200 pb-2">
        <strong class="block font-medium mb-1 text-slate-900">Nome:</strong>
        <p class="text-gray-700"><%= @member.name %></p>
      </div>
    </div>
  </div>
<% end %>
